
<div>
  <div class="py-4">
    <h1><strong class="px-3">Name:</strong> <%= friend.first_name %> <%= friend.last_name %></h1>
  </div>
  <p>
    <strong class="px-3">Email:</strong><%= friend.email %>
  </p>
  <p>
    <strong class="px-3">Twitter:</strong><%= friend.twitter %>
  </p>
</div>
